<h1>Procesing tmdb_All_movies.csv (Movies)</h1>

In [2]:
import csv, json, gensim, datetime, time
import nltk
import re
import gensim
import numpy as np
import pandas as pd
from gensim import corpora
from sklearn.feature_extraction.text import TfidfVectorizer

idlist = []
titlelist = []
genreslist = []
overviewlist = []
productioncompanieslist = []

stop_list = nltk.corpus.stopwords.words('english') #creating list of stopwords
stemmer = nltk.stem.porter.PorterStemmer() #stemmer

def readJSON(row, rownumber, list, keyword):
    jsonstring = row[rownumber]

    jsonobj = json.loads(jsonstring) #loading the json string into a json object
    
    for jsonelement in jsonobj:
        keywordelement = jsonelement[keyword] #getting each word out
        keywordelement = keywordelement.lower().replace(" ", "") #lower case the words, removing all whitespaces 
        if re.search('^[a-z]+$', keywordelement):
            list.append(keywordelement)
    
    list = ' '.join(list) #changing list into a string
    
    return list
    
def processText(row, rownumber1, rownumber2, list):
    text = nltk.word_tokenize(row[rownumber1] + " " + row[rownumber2]) #contains overview and tagline
    text1 = [w.lower() for w in text] #lower case the words
    text2 = [w for w in text1 if re.search('^[a-z]+$', w)] #removing special characters and numbers
    text3 = [w for w in text2 if w not in stop_list] #removing words in stop list
    text4 = [stemmer.stem(w) for w in text3] #changing the words into its root form
     
    list = ' '.join(text4) #changing list into a string
    
    return list
    
#read file
with open('tmdb_All_movies.csv', encoding='utf-8') as csv_file: #change accordingly
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        try:        
            if line_count == 0:
                print(f'Column names are {", ".join(row)}')
                line_count += 1
            else: #if line_count != 1000:
                genres = []
                productioncompanies = []
                overview = []
                      
                if row[1] != "":
                    #handle json genres
                    genres = readJSON(row, 1, genres, 'name')

                #handle overview
                overview = processText(row, 6, 15, overview)

                if row[8] != "":
                    #handle json productioncompanies
                    productioncompanies = readJSON(row, 8, productioncompanies, 'name')

                idlist.append(row[3]) #id
                titlelist.append(row[16]) #title
                genreslist.append(genres)  
                overviewlist.append(overview)
                productioncompanieslist.append(productioncompanies)

                line_count += 1
        except Exception as e:
            print(f'Row: {line_count} has Exception' + str(e))    
            line_count += 1          
    print(f'Processed {line_count} lines.')              

def convertToDataframe(listofwords, idlist, titlelist):
    vectorizer = TfidfVectorizer(analyzer='word') #tfidf
    words_tfidf = vectorizer.fit_transform(listofwords) #tfidf

    tablecolumns = []                      
    tablecolumns.append(vectorizer.get_feature_names()) #adding column headers

    df = pd.DataFrame(words_tfidf.toarray(), columns=tablecolumns) #creating dataframe

    df['id'] = idlist
    df['title'] = titlelist
                      
    return df

dfgenres = convertToDataframe(genreslist, idlist, titlelist)
print(dfgenres.head(10))
                      
dfoverview = convertToDataframe(overviewlist, idlist, titlelist)
print(dfoverview.head(10))
                      
dfproductioncompanies = convertToDataframe(productioncompanieslist, idlist, titlelist)
print(dfproductioncompanies.head(10)) 

print('\nOutput Success!')

Column names are budget, genres, homepage, id, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count
Processed 23580 lines.
  action adventure animation comedy crime documentary drama family fantasy  \
0    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
1    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
2    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
3    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
4    0.0       0.0       0.0    0.0   0.0         0.0   1.0    0.0     0.0
5    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
6    0.0       0.0       0.0    0.0   0.0         1.0   0.0    0.0     0.0
7    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
8    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0
9    0.0       0.0       0.0    0.0   0.0         0.0   0.0    0.0     0.0

  history             ...             music mystery romance sciencefiction  \
0     0.0             ...               0.0     0.0     0.0            0.0
1     0.0             ...               0.0     0.0     0.0            0.0
2     0.0             ...               0.0     0.0     0.0            0.0
3     0.0             ...               1.0     0.0     0.0            0.0
4     0.0             ...               0.0     0.0     0.0            0.0
5     0.0             ...               0.0     0.0     0.0            0.0
6     0.0             ...               0.0     0.0     0.0            0.0
7     0.0             ...               0.0     0.0     0.0            0.0
8     0.0             ...               0.0     0.0     0.0            0.0
9     0.0             ...               0.0     0.0     0.0            0.0

  thriller tvmovie  war western      id                       title
0      0.0     0.0  0.0     0.0  480024    What Happened Last Night
1      0.0     0.0  0.0     0.0  480035                  Away We Go
2      0.0     0.0  0.0     0.0  480087                     Scratch
3      0.0     0.0  0.0     0.0  480123                        Time
4      0.0     0.0  0.0     0.0  480206                  The Hunger
5      0.0     0.0  0.0     0.0  480210               Truth or Dare
6      0.0     0.0  0.0     0.0  480245  The Quest of Alain Ducasse
7      0.0     0.0  0.0     0.0  480285            Head above water
8      0.0     0.0  0.0     0.0  480288            head above water
9      0.0     0.0  0.0     0.0  480382                    The Wait

[10 rows x 21 columns]
    aa  aaa aadhi aadi aagathan aagey aaicha  aaj aajinta aalwar  \
0  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
1  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
2  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
3  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
4  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
5  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
6  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
7  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
8  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0
9  0.0  0.0   0.0  0.0      0.0   0.0    0.0  0.0     0.0    0.0

              ...             zuzu zvezda zvonko zware zwartj zwei zweig  \
0             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
1             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
2             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
3             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
4             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
5             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
6             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
7             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
8             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0
9             ...              0.0    0.0    0.0   0.0    0.0  0.0   0.0

  zygot zypora                       title
0   0.0    0.0    What Happened Last Night
1   0.0    0.0                  Away We Go
2   0.0    0.0                     Scratch
3   0.0    0.0                        Time
4   0.0    0.0                  The Hunger
5   0.0    0.0               Truth or Dare
6   0.0    0.0  The Quest of Alain Ducasse
7   0.0    0.0            Head above water
8   0.0    0.0            head above water
9   0.0    0.0                    The Wait

[10 rows x 34837 columns]
  aachisfilms aamasaraswatimovies aamirkhanproductions aannafilms  \
0         0.0                 0.0                  0.0        0.0
1         0.0                 0.0                  0.0        0.0
2         0.0                 0.0                  0.0        0.0
3         0.0                 0.0                  0.0        0.0
4         0.0                 0.0                  0.0        0.0
5         0.0                 0.0                  0.0        0.0
6         0.0                 0.0                  0.0        0.0
7         0.0                 0.0                  0.0        0.0
8         0.0                 0.0                  0.0        0.0
9         0.0                 0.0                  0.0        0.0

  aardmananimations aarfilms aaronrussoproductions aaronspellingproductions  \
0               0.0      0.0                   0.0                      0.0
1               0.0      0.0                   0.0                      0.0
2               0.0      0.0                   0.0                      0.0
3               0.0      0.0                   0.0                      0.0
4               0.0      0.0                   0.0                      0.0
5               0.0      0.0                   0.0                      0.0
6               0.0      0.0                   0.0                      0.0
7               0.0      0.0                   0.0                      0.0
8               0.0      0.0                   0.0                      0.0
9               0.0      0.0                   0.0                      0.0

  aascarfilms aashirvadcinemas             ...              \
0         0.0              0.0             ...
1         0.0              0.0             ...
2         0.0              0.0             ...
3         0.0              0.0             ...
4         0.0              0.0             ...
5         0.0              0.0             ...
6         0.0              0.0             ...
7         0.0              0.0             ...
8         0.0              0.0             ...
9         0.0              0.0             ...

  zuckerbrothersproductions zuckerproductions zuffa zuleikafarms  \
0                       0.0               0.0   0.0          0.0
1                       0.0               0.0   0.0          0.0
2                       0.0               0.0   0.0          0.0
3                       0.0               0.0   0.0          0.0
4                       0.0               0.0   0.0          0.0
5                       0.0               0.0   0.0          0.0
6                       0.0               0.0   0.0          0.0
7                       0.0               0.0   0.0          0.0
8                       0.0               0.0   0.0          0.0
9                       0.0               0.0   0.0          0.0

  zupnikcinemagroupii zwartarbeid zwingerfilm zyzzyxllc      id  \
0                 0.0         0.0         0.0       0.0  480024
1                 0.0         0.0         0.0       0.0  480035
2                 0.0         0.0         0.0       0.0  480087
3                 0.0         0.0         0.0       0.0  480123
4                 0.0         0.0         0.0       0.0  480206
5                 0.0         0.0         0.0       0.0  480210
6                 0.0         0.0         0.0       0.0  480245
7                 0.0         0.0         0.0       0.0  480285
8                 0.0         0.0         0.0       0.0  480288
9                 0.0         0.0         0.0       0.0  480382

                        title
0    What Happened Last Night
1                  Away We Go
2                     Scratch
3                        Time
4                  The Hunger
5               Truth or Dare
6  The Quest of Alain Ducasse
7            Head above water
8            head above water
9                    The Wait

[10 rows x 11428 columns]

Output Success!

<h1>Save to Dataframe</h1>

In [3]:
dfgenres.to_pickle("dfgenres")
dfoverview.to_pickle("dfoverview")
dfproductioncompanies.to_pickle("dfproductioncompanies")

<h1>Processing tmdb_All_credits.csv (Credits)</h1>

In [1]:
import csv, json, gensim, datetime, time
import nltk
import re
import gensim
import numpy as np
import pandas as pd
from gensim import corpora
from sklearn.feature_extraction.text import TfidfVectorizer

idlist = []
castslist = []
directorslist = []

stop_list = nltk.corpus.stopwords.words('english') #creating list of stopwords
stemmer = nltk.stem.porter.PorterStemmer() #stemmer

def readJSON(row, rownumber, list, keyword):
    jsonstring = row[rownumber]

    jsonobj = json.loads(jsonstring) #loading the json string into a json object
    
    for jsonelement in jsonobj:
        keywordelement = jsonelement[keyword] #getting each word out
        keywordelement = keywordelement.lower().replace(" ", "") #lower case the words, removing all whitespaces 
        list.append(keywordelement) 
    
    list = ' '.join(list) #changing list into a string
    
    return list

#read top 1k actors and actresses file
topcasts = pd.read_csv("top_actors_actresses.csv", encoding="ISO-8859-1") 
namesoftopcasts = topcasts['Name'].values.tolist()
processedcastnames = []

for name in namesoftopcasts:
    name = name.lower().replace(" ", "") #lower case the words, removing all whitespaces 
    processedcastnames.append(name)  
    
#read top directors file
topdirectors = pd.read_csv("top_directors.csv", encoding="ISO-8859-1") 
namesoftopdirectors = topdirectors['Name'].values.tolist()
processeddirectorsnames = []

for name in namesoftopdirectors:
    name = name.lower().replace(" ", "") #lower case the words, removing all whitespaces 
    processeddirectorsnames.append(name)      

#read file
with open('tmdb_All_credits.csv', encoding='utf-8') as csv_file: #change accordingly
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        try:
            if line_count == 0:
                print(f'Column names are {", ".join(row)}')
                line_count += 1
            else: #if line_count != 1000:
                casts = []
                directors = []
                      
                if row[1] != "":
                    #handle json casts
                    casts = readJSON(row, 1, casts, 'name')                      
                
                #handle json directors 
                if row[2] != "":      
                    jsonstring = row[2]

                    jsonobj = json.loads(jsonstring) #loading the json string into a json object

                    for jsonelement in jsonobj:
                        job = jsonelement['job'] #getting each word out
                        if job == "Director": 
                            director = jsonelement['name'].lower().replace(" ", "") #lower case the words, removing all whitespaces 
                            directors.append(director) 

                    directors = ' '.join(directors) #changing list into a string                      
                
                idlist.append(row[0]) #id                      
                castslist.append(casts)
                directorslist.append(directors)         

                line_count += 1
        except Exception as e:
            print(f'Row: {line_count} has Exception' + str(e))    
            line_count += 1   

    print(f'Processed {line_count} lines.')
                  
def convertToDataframe(listofwords, idlist):
    vectorizer = TfidfVectorizer(analyzer='word') #tfidf
    words_tfidf = vectorizer.fit_transform(listofwords) #tfidf

    tablecolumns = []                      
    tablecolumns.append(vectorizer.get_feature_names()) #adding column headers

    df = pd.DataFrame(words_tfidf.toarray(), columns=tablecolumns) #creating dataframe

    df['id'] = idlist
                      
    return df

processedcastnames.append('id')
processeddirectorsnames.append('id')
                      
dfcasts = convertToDataframe(castslist, idlist)
dfcasts2 = dfcasts.loc[:, processedcastnames]

print(dfcasts2.head(10))
                      
dfdirectors = convertToDataframe(directorslist, idlist)
dfdirectors2 = dfdirectors.loc[:, processeddirectorsnames]

print(dfdirectors2.head(10))                        

print('\nOutput Success!')

C:\Users\andy_\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

Column names are id, cast, crew
Row: 3482 has ExceptionUnterminated string starting at: line 1 column 32735 (char 32734)
Row: 7899 has Exception'int' object is not iterable
Row: 7900 has Exception'int' object is not iterable
Row: 7901 has Exception'int' object is not iterable
Row: 7902 has Exception'int' object is not iterable
Row: 7903 has Exception'int' object is not iterable
Row: 7904 has Exception'int' object is not iterable
Row: 7905 has Exception'int' object is not iterable
Row: 7906 has Exception'int' object is not iterable
Row: 7907 has Exception'int' object is not iterable
Row: 7908 has Exception'int' object is not iterable
Row: 7909 has Exception'int' object is not iterable
Row: 7910 has Exception'int' object is not iterable
Row: 7911 has Exception'int' object is not iterable
Row: 7912 has Exception'int' object is not iterable
Row: 7913 has Exception'int' object is not iterable
Row: 7914 has Exception'int' object is not iterable
Row: 7915 has Exception'int' object is not iterable
Row: 7916 has Exception'int' object is not iterable
Row: 7917 has Exception'int' object is not iterable
Row: 7918 has Exception'int' object is not iterable
Row: 7919 has Exception'int' object is not iterable
Row: 7920 has Exception'int' object is not iterable
Row: 7921 has Exception'int' object is not iterable
Row: 7922 has Exception'int' object is not iterable
Row: 7923 has Exception'int' object is not iterable
Row: 7924 has Exception'int' object is not iterable
Row: 7925 has Exception'int' object is not iterable
Row: 7926 has Exception'int' object is not iterable
Row: 7927 has Exception'int' object is not iterable
Row: 7928 has Exception'int' object is not iterable
Row: 7929 has Exception'int' object is not iterable
Row: 7930 has Exception'int' object is not iterable
Row: 7931 has Exception'int' object is not iterable
Row: 7932 has Exception'int' object is not iterable
Row: 7933 has Exception'int' object is not iterable
Row: 7934 has Exception'int' object is not iterable
Row: 7935 has Exception'int' object is not iterable
Row: 7936 has Exception'int' object is not iterable
Row: 7937 has Exception'int' object is not iterable
Row: 7938 has Exception'int' object is not iterable
Row: 7939 has Exception'int' object is not iterable
Row: 7940 has Exception'int' object is not iterable
Row: 7941 has Exception'int' object is not iterable
Row: 7942 has Exception'int' object is not iterable
Row: 7943 has Exception'int' object is not iterable
Row: 7944 has Exception'int' object is not iterable
Row: 7945 has Exception'int' object is not iterable
Row: 7946 has Exception'int' object is not iterable
Row: 7947 has Exception'int' object is not iterable
Row: 7948 has Exception'int' object is not iterable
Row: 7949 has Exception'int' object is not iterable
Row: 7950 has Exception'int' object is not iterable
Row: 7951 has Exception'int' object is not iterable
Row: 7952 has Exception'int' object is not iterable
Row: 7953 has Exception'int' object is not iterable
Row: 7954 has Exception'int' object is not iterable
Row: 7955 has Exception'int' object is not iterable
Row: 7956 has Exception'int' object is not iterable
Row: 7957 has Exception'int' object is not iterable
Row: 7958 has Exception'int' object is not iterable
Row: 7959 has Exception'int' object is not iterable
Row: 7960 has Exception'int' object is not iterable
Row: 7961 has Exception'int' object is not iterable
Row: 7962 has Exception'int' object is not iterable
Row: 7963 has Exception'int' object is not iterable
Row: 7964 has Exception'int' object is not iterable
Row: 7965 has Exception'int' object is not iterable
Row: 7966 has Exception'int' object is not iterable
Row: 7967 has Exception'int' object is not iterable
Row: 7968 has Exception'int' object is not iterable
Row: 7969 has Exception'int' object is not iterable
Row: 7970 has Exception'int' object is not iterable
Row: 7971 has Exception'int' object is not iterable
Row: 7972 has Exception'int' object is not iterable
Row: 7973 has Exception'int' object is not iterable
Row: 7974 has Exception'int' object is not iterable
Row: 7975 has Exception'int' object is not iterable
Row: 7976 has Exception'int' object is not iterable
Row: 7977 has Exception'int' object is not iterable
Row: 7978 has Exception'int' object is not iterable
Row: 7979 has Exception'int' object is not iterable
Row: 7980 has Exception'int' object is not iterable
Row: 7981 has Exception'int' object is not iterable
Row: 7982 has Exception'int' object is not iterable
Row: 7983 has Exception'int' object is not iterable
Row: 7984 has Exception'int' object is not iterable
Row: 7985 has Exception'int' object is not iterable
Row: 7986 has Exception'int' object is not iterable
Row: 7987 has Exception'int' object is not iterable
Row: 7988 has Exception'int' object is not iterable
Row: 7989 has Exception'int' object is not iterable
Row: 7990 has Exception'int' object is not iterable
Row: 7991 has Exception'int' object is not iterable
Row: 7992 has Exception'int' object is not iterable
Row: 7993 has Exception'int' object is not iterable
Row: 7994 has Exception'int' object is not iterable
Row: 7995 has Exception'int' object is not iterable
Row: 7996 has Exception'int' object is not iterable
Row: 7997 has Exception'int' object is not iterable
Row: 7998 has Exception'int' object is not iterable
Row: 7999 has Exception'int' object is not iterable
Row: 8000 has Exception'int' object is not iterable
Row: 8001 has Exception'int' object is not iterable
Row: 8002 has Exception'int' object is not iterable
Row: 8003 has Exception'int' object is not iterable
Row: 8004 has Exception'int' object is not iterable
Row: 8005 has Exception'int' object is not iterable
Row: 8006 has Exception'int' object is not iterable
Row: 8007 has Exception'int' object is not iterable
Row: 8008 has Exception'int' object is not iterable
Row: 8009 has Exception'int' object is not iterable
Row: 8010 has Exception'int' object is not iterable
Row: 8011 has Exception'int' object is not iterable
Row: 8012 has Exception'int' object is not iterable
Row: 8013 has Exception'int' object is not iterable
Row: 8014 has Exception'int' object is not iterable
Row: 8015 has Exception'int' object is not iterable
Row: 8016 has Exception'int' object is not iterable
Row: 8017 has Exception'int' object is not iterable
Row: 8018 has Exception'int' object is not iterable
Row: 8019 has Exception'int' object is not iterable
Row: 8020 has Exception'int' object is not iterable
Row: 8021 has Exception'int' object is not iterable
Row: 8022 has Exception'int' object is not iterable
Row: 8023 has Exception'int' object is not iterable
Row: 8024 has Exception'int' object is not iterable
Row: 8025 has Exception'int' object is not iterable
Row: 8026 has Exception'int' object is not iterable
Row: 8027 has Exception'int' object is not iterable
Row: 8028 has Exception'int' object is not iterable
Row: 8029 has Exception'int' object is not iterable
Row: 8030 has Exception'int' object is not iterable
Row: 8031 has Exception'int' object is not iterable
Row: 8032 has Exception'int' object is not iterable
Row: 8033 has Exception'int' object is not iterable
Row: 8034 has Exception'int' object is not iterable
Row: 8035 has Exception'int' object is not iterable
Row: 8036 has Exception'int' object is not iterable
Row: 8037 has Exception'int' object is not iterable
Row: 8038 has Exception'int' object is not iterable
Row: 8039 has Exception'int' object is not iterable
Row: 8040 has Exception'int' object is not iterable
Row: 8041 has Exception'int' object is not iterable
Row: 8042 has Exception'int' object is not iterable
Row: 8043 has Exception'int' object is not iterable
Row: 8044 has Exception'int' object is not iterable
Row: 8045 has Exception'int' object is not iterable
Row: 8046 has Exception'int' object is not iterable
Row: 8047 has Exception'int' object is not iterable
Row: 8048 has Exception'int' object is not iterable
Row: 8049 has Exception'int' object is not iterable
Row: 8050 has Exception'int' object is not iterable
Row: 8051 has Exception'int' object is not iterable
Row: 8052 has Exception'int' object is not iterable
Row: 8053 has Exception'int' object is not iterable
Row: 8054 has Exception'int' object is not iterable
Row: 8055 has Exception'int' object is not iterable
Row: 8056 has Exception'int' object is not iterable
Row: 8057 has Exception'int' object is not iterable
Row: 8058 has Exception'int' object is not iterable
Row: 8059 has Exception'int' object is not iterable
Row: 8060 has Exception'int' object is not iterable
Row: 8061 has Exception'int' object is not iterable
Row: 8062 has Exception'int' object is not iterable
Row: 8063 has Exception'int' object is not iterable
Row: 8064 has Exception'int' object is not iterable
Row: 8065 has Exception'int' object is not iterable
Row: 8066 has Exception'int' object is not iterable
Row: 8067 has Exception'int' object is not iterable
Row: 8068 has Exception'int' object is not iterable
Row: 8069 has Exception'int' object is not iterable
Row: 8070 has Exception'int' object is not iterable
Row: 8071 has Exception'int' object is not iterable
Row: 8072 has Exception'int' object is not iterable
Row: 8073 has Exception'int' object is not iterable
Row: 8074 has Exception'int' object is not iterable
Row: 8075 has Exception'int' object is not iterable
Row: 8076 has Exception'int' object is not iterable
Row: 8077 has Exception'int' object is not iterable
Row: 8078 has Exception'int' object is not iterable
Row: 8079 has Exception'int' object is not iterable
Row: 8080 has Exception'int' object is not iterable
Row: 8081 has Exception'int' object is not iterable
Row: 8082 has Exception'int' object is not iterable
Row: 8083 has Exception'int' object is not iterable
Row: 8084 has Exception'int' object is not iterable
Row: 8085 has Exception'int' object is not iterable
Row: 8086 has Exception'int' object is not iterable
Row: 8087 has Exception'int' object is not iterable
Row: 8088 has Exception'int' object is not iterable
Row: 8089 has Exception'int' object is not iterable
Row: 8090 has Exception'int' object is not iterable
Row: 8091 has Exception'int' object is not iterable
Row: 8092 has Exception'int' object is not iterable
Row: 8093 has Exception'int' object is not iterable
Row: 8094 has Exception'int' object is not iterable
Row: 8095 has Exception'int' object is not iterable
Row: 8096 has Exception'int' object is not iterable
Row: 8097 has Exception'int' object is not iterable
Row: 8098 has Exception'int' object is not iterable
Row: 8099 has Exception'int' object is not iterable
Row: 8100 has Exception'int' object is not iterable
Row: 8101 has Exception'int' object is not iterable
Row: 8102 has Exception'int' object is not iterable
Row: 8103 has Exception'int' object is not iterable
Row: 8104 has Exception'int' object is not iterable
Row: 8105 has Exception'int' object is not iterable
Row: 8106 has Exception'int' object is not iterable
Row: 8107 has Exception'int' object is not iterable
Row: 8108 has Exception'int' object is not iterable
Row: 8109 has Exception'int' object is not iterable
Row: 8110 has Exception'int' object is not iterable
Row: 8111 has Exception'int' object is not iterable
Row: 8112 has Exception'int' object is not iterable
Row: 8113 has Exception'int' object is not iterable
Row: 8114 has Exception'int' object is not iterable
Row: 8115 has Exception'int' object is not iterable
Row: 8116 has Exception'int' object is not iterable
Row: 8117 has Exception'int' object is not iterable
Row: 8118 has Exception'int' object is not iterable
Row: 8119 has Exception'int' object is not iterable
Row: 8120 has Exception'int' object is not iterable
Row: 8121 has Exception'int' object is not iterable
Row: 8122 has Exception'int' object is not iterable
Row: 8123 has Exception'int' object is not iterable
Row: 8124 has Exception'int' object is not iterable
Row: 8125 has Exception'int' object is not iterable
Row: 8126 has Exception'int' object is not iterable
Row: 8127 has Exception'int' object is not iterable
Row: 8128 has Exception'int' object is not iterable
Row: 8129 has Exception'int' object is not iterable
Row: 8130 has Exception'int' object is not iterable
Row: 8131 has Exception'int' object is not iterable
Row: 8132 has Exception'int' object is not iterable
Row: 8133 has Exception'int' object is not iterable
Row: 8134 has Exception'int' object is not iterable
Row: 8135 has Exception'int' object is not iterable
Row: 8136 has Exception'int' object is not iterable
Row: 8137 has Exception'int' object is not iterable
Row: 8138 has Exception'int' object is not iterable
Row: 8139 has Exception'int' object is not iterable
Row: 8140 has Exception'int' object is not iterable
Row: 8141 has Exception'int' object is not iterable
Row: 8142 has Exception'int' object is not iterable
Row: 8143 has Exception'int' object is not iterable
Row: 8144 has Exception'int' object is not iterable
Row: 8145 has Exception'int' object is not iterable
Row: 8146 has Exception'int' object is not iterable
Row: 8147 has Exception'int' object is not iterable
Row: 8148 has Exception'int' object is not iterable
Row: 8149 has Exception'int' object is not iterable
Row: 8150 has Exception'int' object is not iterable
Row: 8151 has Exception'int' object is not iterable
Row: 8152 has Exception'int' object is not iterable
Row: 8153 has Exception'int' object is not iterable
Row: 8154 has Exception'int' object is not iterable
Row: 8155 has Exception'int' object is not iterable
Row: 8156 has Exception'int' object is not iterable
Row: 8157 has Exception'int' object is not iterable
Row: 8158 has Exception'int' object is not iterable
Row: 8159 has Exception'int' object is not iterable
Row: 8160 has Exception'int' object is not iterable
Row: 8161 has Exception'int' object is not iterable
Row: 8162 has Exception'int' object is not iterable
Row: 8163 has Exception'int' object is not iterable
Row: 8164 has Exception'int' object is not iterable
Row: 8165 has Exception'int' object is not iterable
Row: 8166 has Exception'int' object is not iterable
Row: 8167 has Exception'int' object is not iterable
Row: 8168 has Exception'int' object is not iterable
Row: 8169 has Exception'int' object is not iterable
Row: 8170 has Exception'int' object is not iterable
Row: 8171 has Exception'int' object is not iterable
Row: 8172 has Exception'int' object is not iterable
Row: 8173 has Exception'int' object is not iterable
Row: 8174 has Exception'int' object is not iterable
Row: 8175 has Exception'int' object is not iterable
Row: 8176 has Exception'int' object is not iterable
Row: 8177 has Exception'int' object is not iterable
Row: 8178 has Exception'int' object is not iterable
Row: 8179 has Exception'int' object is not iterable
Row: 8180 has Exception'int' object is not iterable
Row: 8181 has Exception'int' object is not iterable
Row: 8182 has Exception'int' object is not iterable
Row: 8183 has Exception'int' object is not iterable
Row: 8184 has Exception'int' object is not iterable
Row: 8185 has Exception'int' object is not iterable
Row: 8186 has Exception'int' object is not iterable
Row: 8187 has Exception'int' object is not iterable
Row: 8188 has Exception'int' object is not iterable
Row: 8189 has Exception'int' object is not iterable
Row: 8190 has Exception'int' object is not iterable
Row: 8191 has Exception'int' object is not iterable
Row: 8192 has Exception'int' object is not iterable
Row: 8193 has Exception'int' object is not iterable
Row: 8194 has Exception'int' object is not iterable
Row: 8195 has Exception'int' object is not iterable
Row: 8196 has Exception'int' object is not iterable
Row: 8197 has Exception'int' object is not iterable
Row: 8198 has Exception'int' object is not iterable
Row: 8199 has Exception'int' object is not iterable
Row: 8200 has Exception'int' object is not iterable
Row: 8201 has Exception'int' object is not iterable
Row: 8202 has Exception'int' object is not iterable
Row: 8203 has Exception'int' object is not iterable
Row: 8204 has Exception'int' object is not iterable
Row: 8205 has Exception'int' object is not iterable
Row: 8206 has Exception'int' object is not iterable
Row: 8207 has Exception'int' object is not iterable
Row: 8208 has Exception'int' object is not iterable
Row: 8209 has Exception'int' object is not iterable
Row: 8210 has Exception'int' object is not iterable
Row: 8211 has Exception'int' object is not iterable
Row: 8212 has Exception'int' object is not iterable
Row: 8213 has Exception'int' object is not iterable
Row: 8214 has Exception'int' object is not iterable
Row: 8215 has Exception'int' object is not iterable
Row: 8216 has Exception'int' object is not iterable
Row: 8217 has Exception'int' object is not iterable
Row: 8218 has Exception'int' object is not iterable
Row: 8219 has Exception'int' object is not iterable
Row: 8220 has Exception'int' object is not iterable
Row: 8221 has Exception'int' object is not iterable
Row: 8222 has Exception'int' object is not iterable
Row: 8223 has Exception'int' object is not iterable
Row: 8224 has Exception'int' object is not iterable
Row: 8225 has Exception'int' object is not iterable
Row: 8226 has Exception'int' object is not iterable
Row: 8227 has Exception'int' object is not iterable
Row: 8228 has Exception'int' object is not iterable
Row: 8229 has Exception'int' object is not iterable
Row: 8230 has Exception'int' object is not iterable
Row: 8231 has Exception'int' object is not iterable
Row: 8232 has Exception'int' object is not iterable
Row: 8233 has Exception'int' object is not iterable
Row: 8234 has Exception'int' object is not iterable
Row: 8235 has Exception'int' object is not iterable
Row: 8236 has Exception'int' object is not iterable
Row: 8237 has Exception'int' object is not iterable
Row: 8238 has Exception'int' object is not iterable
Row: 8239 has Exception'int' object is not iterable
Row: 8240 has Exception'int' object is not iterable
Row: 8241 has Exception'int' object is not iterable
Row: 8242 has Exception'int' object is not iterable
Row: 8243 has Exception'int' object is not iterable
Row: 8244 has Exception'int' object is not iterable
Row: 8245 has Exception'int' object is not iterable
Row: 8246 has Exception'int' object is not iterable
Row: 8250 has Exception'int' object is not iterable
Row: 8251 has Exception'int' object is not iterable
Row: 8252 has Exception'int' object is not iterable
Row: 8253 has Exception'int' object is not iterable
Row: 8254 has Exception'int' object is not iterable
Row: 8255 has Exception'int' object is not iterable
Row: 8256 has Exception'int' object is not iterable
Row: 8257 has Exception'int' object is not iterable
Row: 8258 has Exception'int' object is not iterable
Row: 8259 has Exception'int' object is not iterable
Row: 8260 has Exception'int' object is not iterable
Row: 8261 has Exception'int' object is not iterable
Row: 8262 has Exception'int' object is not iterable
Row: 8263 has Exception'int' object is not iterable
Row: 8264 has Exception'int' object is not iterable
Row: 8265 has Exception'int' object is not iterable
Row: 8266 has Exception'int' object is not iterable
Row: 8267 has Exception'int' object is not iterable
Row: 8268 has Exception'int' object is not iterable
Row: 8269 has Exception'int' object is not iterable
Row: 8270 has Exception'int' object is not iterable
Row: 8271 has Exception'int' object is not iterable
Row: 8272 has Exception'int' object is not iterable
Row: 8273 has Exception'int' object is not iterable
Row: 8274 has Exception'int' object is not iterable
Row: 8275 has Exception'int' object is not iterable
Row: 8276 has Exception'int' object is not iterable
Row: 8277 has Exception'int' object is not iterable
Row: 8278 has Exception'int' object is not iterable
Row: 8279 has Exception'int' object is not iterable
Row: 8280 has Exception'int' object is not iterable
Row: 8281 has Exception'int' object is not iterable
Row: 8282 has Exception'int' object is not iterable
Row: 8283 has Exception'int' object is not iterable

Row: 8468 has Exception'int' object is not iterable
Row: 8469 has Exception'int' object is not iterable
Row: 8470 has Exception'int' object is not iterable
Row: 8471 has Exception'int' object is not iterable
Row: 8472 has Exception'int' object is not iterable
Row: 8473 has Exception'int' object is not iterable
Row: 8474 has Exception'int' object is not iterable
Row: 8475 has Exception'int' object is not iterable
Row: 8476 has Exception'int' object is not iterable
Row: 8477 has Exception'int' object is not iterable
Row: 8478 has Exception'int' object is not iterable
Row: 8479 has Exception'int' object is not iterable
Row: 8480 has Exception'int' object is not iterable
Row: 8481 has Exception'int' object is not iterable
Row: 8482 has Exception'int' object is not iterable
Row: 8483 has Exception'int' object is not iterable
Row: 8484 has Exception'int' object is not iterable
Row: 8485 has Exception'int' object is not iterable
Row: 8486 has Exception'int' object is not iterable
Row: 8487 has Exception'int' object is not iterable
Row: 8488 has Exception'int' object is not iterable
Row: 8489 has Exception'int' object is not iterable
Row: 8490 has Exception'int' object is not iterable
Row: 8491 has Exception'int' object is not iterable
Row: 8492 has Exception'int' object is not iterable
Row: 8493 has Exception'int' object is not iterable
Row: 8494 has Exception'int' object is not iterable
Row: 8495 has Exception'int' object is not iterable
Row: 8496 has Exception'int' object is not iterable
Row: 8497 has Exception'int' object is not iterable
Row: 8498 has Exception'int' object is not iterable
Row: 8499 has Exception'int' object is not iterable
Row: 8500 has Exception'int' object is not iterable
Row: 8501 has Exception'int' object is not iterable
Row: 8502 has Exception'int' object is not iterable
Row: 8503 has Exception'int' object is not iterable
Row: 8504 has Exception'int' object is not iterable
Row: 8505 has Exception'int' object is not iterable
Row: 8506 has Exception'int' object is not iterable
Row: 8507 has Exception'int' object is not iterable
Row: 8508 has Exception'int' object is not iterable
Row: 8509 has Exception'int' object is not iterable
Row: 8510 has Exception'int' object is not iterable
Row: 8511 has Exception'int' object is not iterable
Row: 8512 has Exception'int' object is not iterable
Row: 8513 has Exception'int' object is not iterable
Row: 8514 has Exception'int' object is not iterable
Row: 8515 has Exception'int' object is not iterable
Row: 8516 has Exception'int' object is not iterable
Row: 8517 has Exception'int' object is not iterable
Row: 8518 has Exception'int' object is not iterable
Row: 8519 has Exception'int' object is not iterable
Row: 8520 has Exception'int' object is not iterable
Row: 8521 has Exception'int' object is not iterable
Row: 8522 has Exception'int' object is not iterable
Row: 8523 has Exception'int' object is not iterable
Row: 8524 has Exception'int' object is not iterable
Row: 8525 has Exception'int' object is not iterable
Row: 8526 has Exception'int' object is not iterable
Row: 8527 has Exception'int' object is not iterable
Row: 8528 has Exception'int' object is not iterable
Row: 8529 has Exception'int' object is not iterable
Row: 8530 has Exception'int' object is not iterable
Row: 8531 has Exception'int' object is not iterable
Row: 8532 has Exception'int' object is not iterable
Row: 8533 has Exception'int' object is not iterable
Row: 8534 has Exception'int' object is not iterable
Row: 8535 has Exception'int' object is not iterable
Row: 8536 has Exception'int' object is not iterable
Row: 8537 has Exception'int' object is not iterable
Row: 8538 has Exception'int' object is not iterable
Row: 8539 has Exception'int' object is not iterable
Row: 8540 has Exception'int' object is not iterable
Row: 8541 has Exception'int' object is not iterable
Row: 8542 has Exception'int' object is not iterable
Row: 8543 has Exception'int' object is not iterable
Row: 8544 has Exception'int' object is not iterable
Row: 8545 has Exception'int' object is not iterable
Row: 8546 has Exception'int' object is not iterable
Row: 8547 has Exception'int' object is not iterable
Row: 8548 has Exception'int' object is not iterable
Row: 8549 has Exception'int' object is not iterable
Row: 8550 has Exception'int' object is not iterable
Row: 8551 has Exception'int' object is not iterable
Row: 8552 has Exception'int' object is not iterable
Row: 8553 has Exception'int' object is not iterable
Row: 8554 has Exception'int' object is not iterable
Row: 8555 has Exception'int' object is not iterable
Row: 8556 has Exception'int' object is not iterable
Row: 8557 has Exception'int' object is not iterable
Row: 8558 has Exception'int' object is not iterable
Row: 8559 has Exception'int' object is not iterable
Row: 8560 has Exception'int' object is not iterable
Row: 8561 has Exception'int' object is not iterable
Row: 8562 has Exception'int' object is not iterable
Row: 8563 has Exception'int' object is not iterable
Row: 8564 has Exception'int' object is not iterable
Row: 8565 has Exception'int' object is not iterable
Row: 8566 has Exception'int' object is not iterable
Row: 8567 has Exception'int' object is not iterable
Row: 8568 has Exception'int' object is not iterable
Row: 8569 has Exception'int' object is not iterable
Row: 8570 has Exception'int' object is not iterable
Row: 8571 has Exception'int' object is not iterable
Row: 8572 has Exception'int' object is not iterable
Row: 8573 has Exception'int' object is not iterable
Row: 8574 has Exception'int' object is not iterable
Row: 8575 has Exception'int' object is not iterable
Row: 8576 has Exception'int' object is not iterable
Row: 8577 has Exception'int' object is not iterable
Row: 8578 has Exception'int' object is not iterable
Row: 8579 has Exception'int' object is not iterable
Row: 8580 has Exception'int' object is not iterable
Row: 8581 has Exception'int' object is not iterable
Row: 8582 has Exception'int' object is not iterable
Row: 8583 has Exception'int' object is not iterable
Row: 8584 has Exception'int' object is not iterable
Row: 8585 has Exception'int' object is not iterable
Row: 8586 has Exception'int' object is not iterable
Row: 8587 has Exception'int' object is not iterable
Row: 8588 has Exception'int' object is not iterable
Row: 8589 has Exception'int' object is not iterable
Row: 8590 has Exception'int' object is not iterable
Row: 8591 has Exception'int' object is not iterable
Row: 8592 has Exception'int' object is not iterable
Row: 8593 has Exception'int' object is not iterable
Row: 8594 has Exception'int' object is not iterable
Row: 8595 has Exception'int' object is not iterable
Row: 8596 has Exception'int' object is not iterable
Row: 8597 has Exception'int' object is not iterable
Row: 8598 has Exception'int' object is not iterable
Row: 8599 has Exception'int' object is not iterable
Row: 8600 has Exception'int' object is not iterable
Row: 8601 has Exception'int' object is not iterable
Row: 8602 has Exception'int' object is not iterable
Row: 8603 has Exception'int' object is not iterable
Row: 8604 has Exception'int' object is not iterable
Row: 8605 has Exception'int' object is not iterable
Row: 8606 has Exception'int' object is not iterable
Row: 8607 has Exception'int' object is not iterable
Row: 8608 has Exception'int' object is not iterable
Row: 8609 has Exception'int' object is not iterable
Row: 8610 has Exception'int' object is not iterable
Row: 8611 has Exception'int' object is not iterable
Row: 8612 has Exception'int' object is not iterable
Row: 8613 has Exception'int' object is not iterable
Row: 8614 has Exception'int' object is not iterable
Row: 8615 has Exception'int' object is not iterable
Row: 8775 has ExceptionUnterminated string starting at: line 1 column 32752 (char 32751)
Row: 9275 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 9392 has ExceptionUnterminated string starting at: line 1 column 32756 (char 32755)
Row: 9793 has ExceptionUnterminated string starting at: line 1 column 32738 (char 32737)
Row: 10074 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 10080 has ExceptionExpecting value: line 1 column 32757 (char 32756)

Row: 10210 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 10451 has ExceptionExpecting ',' delimiter: line 1 column 32760 (char 32759)
Row: 10452 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 10601 has ExceptionExpecting value: line 1 column 32760 (char 32759)
Row: 10604 has ExceptionUnterminated string starting at: line 1 column 32748 (char 32747)
Row: 10808 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 10867 has ExceptionUnterminated string starting at: line 1 column 32740 (char 32739)
Row: 11001 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 11311 has ExceptionUnterminated string starting at: line 1 column 32748 (char 32747)
Row: 11316 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 11319 has ExceptionExpecting value: line 1 column 32758 (char 32757)
Row: 11421 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 11433 has ExceptionUnterminated string starting at: line 1 column 32740 (char 32739)
Row: 11435 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 11436 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 11498 has ExceptionUnterminated string starting at: line 1 column 32759 (char 32758)
Row: 11513 has ExceptionUnterminated string starting at: line 1 column 32747 (char 32746)
Row: 11578 has ExceptionUnterminated string starting at: line 1 column 32749 (char 32748)
Row: 11630 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 11646 has ExceptionExpecting ',' delimiter: line 1 column 32760 (char 32759)
Row: 11650 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 11654 has ExceptionUnterminated string starting at: line 1 column 32739 (char 32738)
Row: 11668 has ExceptionUnterminated string starting at: line 1 column 32731 (char 32730)
Row: 11688 has ExceptionUnterminated string starting at: line 1 column 32751 (char 32750)
Row: 11689 has ExceptionUnterminated string starting at: line 1 column 32735 (char 32734)
Row: 11693 has ExceptionExpecting value: line 1 column 32760 (char 32759)
Row: 11811 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 11812 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 11834 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 11853 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 11893 has ExceptionUnterminated string starting at: line 1 column 32745 (char 32744)
Row: 11917 has ExceptionExpecting value: line 1 column 32760 (char 32759)
Row: 11983 has ExceptionUnterminated string starting at: line 1 column 32756 (char 32755)
Row: 12090 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Row: 12125 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 12150 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 12323 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 12336 has ExceptionUnterminated string starting at: line 1 column 32739 (char 32738)
Row: 12344 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Row: 12381 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Row: 12475 has ExceptionUnterminated string starting at: line 1 column 32744 (char 32743)
Row: 12531 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 12551 has ExceptionUnterminated string starting at: line 1 column 32741 (char 32740)
Row: 12563 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 12602 has ExceptionUnterminated string starting at: line 1 column 32746 (char 32745)
Row: 12677 has ExceptionUnterminated string starting at: line 1 column 32747 (char 32746)
Row: 12890 has ExceptionUnterminated string starting at: line 1 column 32746 (char 32745)
Row: 13095 has ExceptionUnterminated string starting at: line 1 column 32756 (char 32755)
Row: 13112 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 13151 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 13171 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 13182 has ExceptionUnterminated string starting at: line 1 column 32750 (char 32749)
Row: 13291 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 13337 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 13341 has ExceptionExpecting ',' delimiter: line 1 column 32760 (char 32759)
Row: 13434 has ExceptionUnterminated string starting at: line 1 column 32744 (char 32743)
Row: 13580 has ExceptionUnterminated string starting at: line 1 column 32740 (char 32739)
Row: 13620 has ExceptionUnterminated string starting at: line 1 column 32751 (char 32750)
Row: 13688 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 13693 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 13908 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 13928 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Row: 14149 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 14151 has ExceptionUnterminated string starting at: line 1 column 32756 (char 32755)
Row: 14212 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 14258 has ExceptionExpecting value: line 1 column 32760 (char 32759)
Row: 14350 has ExceptionUnterminated string starting at: line 1 column 32759 (char 32758)
Row: 14458 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 14510 has ExceptionUnterminated string starting at: line 1 column 32749 (char 32748)
Row: 14727 has ExceptionUnterminated string starting at: line 1 column 32739 (char 32738)
Row: 15608 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 15845 has ExceptionUnterminated string starting at: line 1 column 32750 (char 32749)
Row: 16086 has ExceptionUnterminated string starting at: line 1 column 32751 (char 32750)
Row: 16586 has ExceptionExpecting ',' delimiter: line 1 column 32760 (char 32759)
Row: 16709 has ExceptionUnterminated string starting at: line 1 column 32748 (char 32747)
Row: 16763 has ExceptionUnterminated string starting at: line 1 column 32751 (char 32750)
Row: 17140 has ExceptionUnterminated string starting at: line 1 column 32758 (char 32757)
Row: 17155 has ExceptionUnterminated string starting at: line 1 column 32754 (char 32753)
Row: 17162 has ExceptionUnterminated string starting at: line 1 column 32756 (char 32755)
Row: 17289 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 17315 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 18402 has ExceptionUnterminated string starting at: line 1 column 32759 (char 32758)
Row: 18809 has ExceptionExpecting ',' delimiter: line 1 column 32760 (char 32759)
Row: 18877 has ExceptionUnterminated string starting at: line 1 column 32757 (char 32756)
Row: 19807 has ExceptionUnterminated string starting at: line 1 column 32747 (char 32746)
Row: 19901 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Row: 20090 has ExceptionUnterminated string starting at: line 1 column 32755 (char 32754)
Row: 20297 has ExceptionUnterminated string starting at: line 1 column 32751 (char 32750)
Row: 20987 has ExceptionExpecting ':' delimiter: line 1 column 32760 (char 32759)
Row: 21271 has ExceptionExpecting value: line 1 column 32760 (char 32759)
Row: 21924 has ExceptionUnterminated string starting at: line 1 column 32753 (char 32752)
Processed 23583 lines.
  aaroneckhart aaronpaul abbiecornish abigailbreslin adamdriver adamsandler  \
0          0.0       0.0          0.0            0.0        0.0         0.0
1          0.0       0.0          0.0            0.0        0.0         0.0
2          0.0       0.0          0.0            0.0        0.0         0.0
3          0.0       0.0          0.0            0.0        0.0         0.0
4          0.0       0.0          0.0            0.0        0.0         0.0
5          0.0       0.0          0.0            0.0        0.0         0.0
6          0.0       0.0          0.0            0.0        0.0         0.0
7          0.0       0.0          0.0            0.0        0.0         0.0
8          0.0       0.0          0.0            0.0        0.0         0.0
9          0.0       0.0          0.0            0.0        0.0         0.0

  adrianabarraza adriannepalicki adrienbrody alanalda   ...   willsmith  \
0            0.0             0.0         0.0      0.0   ...         0.0
1            0.0             0.0         0.0      0.0   ...         0.0
2            0.0             0.0         0.0      0.0   ...         0.0
3            0.0             0.0         0.0      0.0   ...         0.0
4            0.0             0.0         0.0      0.0   ...         0.0
5            0.0             0.0         0.0      0.0   ...         0.0
6            0.0             0.0         0.0      0.0   ...         0.0
7            0.0             0.0         0.0      0.0   ...         0.0
8            0.0             0.0         0.0      0.0   ...         0.0
9            0.0             0.0         0.0      0.0   ...         0.0

  winonaryder woodyallen woodyharrelson yulbrynner zacefron zachgalifianakis  \
0         0.0        0.0            0.0        0.0      0.0              0.0
1         0.0        0.0            0.0        0.0      0.0              0.0
2         0.0        0.0            0.0        0.0      0.0              0.0
3         0.0        0.0            0.0        0.0      0.0              0.0
4         0.0        0.0            0.0        0.0      0.0              0.0
5         0.0        0.0            0.0        0.0      0.0              0.0
6         0.0        0.0            0.0        0.0      0.0              0.0
7         0.0        0.0            0.0        0.0      0.0              0.0
8         0.0        0.0            0.0        0.0      0.0              0.0
9         0.0        0.0            0.0        0.0      0.0              0.0

  zoesaldana zooeydeschanel      id
0        0.0            0.0  480024
1        0.0            0.0  480035
2        0.0            0.0  480087
3        0.0            0.0  480123
4        0.0            0.0  480206
5        0.0            0.0  480210
6        0.0            0.0  480245
7        0.0            0.0  480285
8        0.0            0.0  480288
9        0.0            0.0  480382

[10 rows x 943 columns]

  aamirkhan abdellatifkechiche adambrooks adamelliot adammckay adrianlyne  \
0       0.0                0.0        0.0        0.0       0.0        0.0
1       0.0                0.0        0.0        0.0       0.0        0.0
2       0.0                0.0        0.0        0.0       0.0        0.0
3       0.0                0.0        0.0        0.0       0.0        0.0
4       0.0                0.0        0.0        0.0       0.0        0.0
5       0.0                0.0        0.0        0.0       0.0        0.0
6       0.0                0.0        0.0        0.0       0.0        0.0
7       0.0                0.0        0.0        0.0       0.0        0.0
8       0.0                0.0        0.0        0.0       0.0        0.0
9       0.0                0.0        0.0        0.0       0.0        0.0

  akirakurosawa alanparker alberthughes alejandroamenábar   ...   wesanderson  \
0           0.0        0.0          0.0               0.0   ...           0.0
1           0.0        0.0          0.0               0.0   ...           0.0
2           0.0        0.0          0.0               0.0   ...           0.0
3           0.0        0.0          0.0               0.0   ...           0.0
4           0.0        0.0          0.0               0.0   ...           0.0
5           0.0        0.0          0.0               0.0   ...           0.0
6           0.0        0.0          0.0               0.0   ...           0.0
7           0.0        0.0          0.0               0.0   ...           0.0
8           0.0        0.0          0.0               0.0   ...           0.0
9           0.0        0.0          0.0               0.0   ...           0.0

  wescraven williamfriedkin williamwyler wimwenders wolfgangbecker  \
0       0.0             0.0          0.0        0.0            0.0
1       0.0             0.0          0.0        0.0            0.0
2       0.0             0.0          0.0        0.0            0.0
3       0.0             0.0          0.0        0.0            0.0
4       0.0             0.0          0.0        0.0            0.0
5       0.0             0.0          0.0        0.0            0.0
6       0.0             0.0          0.0        0.0            0.0
7       0.0             0.0          0.0        0.0            0.0
8       0.0             0.0          0.0        0.0            0.0
9       0.0             0.0          0.0        0.0            0.0

  wolfgangpetersen woodyallen yorgoslanthimos      id
0              0.0        0.0             0.0  480024
1              0.0        0.0             0.0  480035
2              0.0        0.0             0.0  480087
3              0.0        0.0             0.0  480123
4              0.0        0.0             0.0  480206
5              0.0        0.0             0.0  480210
6              0.0        0.0             0.0  480245
7              0.0        0.0             0.0  480285
8              0.0        0.0             0.0  480288
9              0.0        0.0             0.0  480382

[10 rows x 508 columns]

Output Success!

<h1>Save to Dataframe</h1>

In [2]:
dfcasts2.to_pickle("dfcasts")
dfdirectors2.to_pickle("dfdirectors")

<h1>Merging Two Data Frames</h1>

In [4]:
import pandas as pd
import pickle

df3 = df.join(df2, lsuffix='id', rsuffix='id')
df3.head(10) 

df3 = df3.apply(pd.to_numeric, errors='ignore')
df3.dtypes

df3.to_pickle("processed_data")

print('\nOutput Success!')

     budget music drama horror documentary thriller comedy crime western  \
0         0     0     0      0           0        0      0     0       0
1  17000000     0     0      0           0        0      0     0       0
2         0     0     0      0           0        0      0     0       0
3         0     1     0      0           0        0      0     0       0
4         0     0     1      0           0        0      0     0       0
5   3500000     0     0      1           0        0      0     0       0
6         0     0     0      0           1        0      0     0       0
7         0     0     0      0           0        0      0     0       0
8         0     0     0      0           0        0      0     0       0
9         0     0     0      0           0        0      0     0       0

  romance     ...      esther parobek frans zwartjes naoto takenaka  \
0       0     ...                   0              0              0
1       0     ...                   0              0              0
2       0     ...                   0              0              0
3       0     ...                   0              0              0
4       0     ...                   0              0              0
5       0     ...                   0              0              0
6       0     ...                   0              0              0
7       0     ...                   0              0              0
8       0     ...                   0              0              0
9       0     ...                   0              0              0

  olivier smolders ken scott digby rumsey liew seng tat  \
0                0         0            0             0
1                0         0            0             0
2                0         0            0             0
3                0         0            0             0
4                0         0            0             0
5                0         0            0             0
6                0         0            0             0
7                0         0            0             0
8                0         0            0             0
9                0         0            0             0

  mona friis bertheussen brian holden norman stone
0                      0            0            0
1                      0            0            0
2                      0            0            0
3                      0            0            0
4                      0            0            0
5                      0            0            0
6                      0            0            0
7                      0            0            0
8                      0            0            0
9                      0            0            0

[10 rows x 11938 columns]
budget                      int64
music                       int64
drama                       int64
horror                      int64
documentary                 int64
thriller                    int64
comedy                      int64
crime                       int64
western                     int64
romance                     int64
animation                   int64
family                      int64
tv movie                    int64
war                         int64
mystery                     int64
action                      int64
fantasy                     int64
adventure                   int64
science fiction             int64
history                     int64
idid                        int64
weekday                   float64
day                       float64
month                     float64
year                      float64
revenue                   float64
runtime                   float64
status                     object
title                      object
vote_average              float64
                           ...
cindy kleine              float64
charles atlas             float64
anette pilmark            float64
jaap van heusden          float64
peter graham scott        float64
börkur gunnarsson         float64
chike ozah                float64
coodie simmons            float64
tommy stovall             float64
beri shalmashi            float64
sanne vogel               float64
kihachiro kawamoto        float64
aash aaron                float64
jomon                     float64
john wynn                 float64
rob denbleyker            float64
edmond t. gréville        float64
josé pepe bojórquez       float64
mark rappaport            float64
emily buchanan            float64
esther parobek            float64
frans zwartjes            float64
naoto takenaka            float64
olivier smolders          float64
ken scott                 float64
digby rumsey              float64
liew seng tat             float64
mona friis bertheussen    float64
brian holden              float64
norman stone              float64
Length: 11938, dtype: object

Output Success!